In [3]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import json

# locating each file that is necessary for the GTFS data
file_calendar_dates = 'gtfs-nl/calendar_dates.txt'
file_trips = 'gtfs-nl/trips.txt'
file_routes = 'gtfs-nl/routes.txt'
file_agency = 'gtfs-nl/agency.txt'
file_stops = 'gtfs-nl/stops.txt'
file_stop_times = 'gtfs-nl/stop_times.txt'

In [4]:
# Load the trips data
df_trips = pd.read_csv(file_trips)

# Print the head of the dataframe
df_trips.head()

,route_id,service_id,trip_id,realtime_trip_id,trip_headsign,trip_short_name,trip_long_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,17522,2054,218116770,IFF:HSN:1038,Rotterdam Centraal,1038,Intercity direct,1,NaN,1295593.0,0,NaN
1,17522,2054,223294031,IFF:HSN:1018,Rotterdam Centraal,1018,Intercity direct,1,NaN,1295593.0,0,NaN
2,17522,2252,223294078,IFF:HSN:1022,Rotterdam Centraal,1022,Intercity direct,1,NaN,1295593.0,0,NaN
3,17522,2252,223294126,IFF:HSN:1028,Rotterdam Centraal,1028,Intercity direct,1,NaN,1295593.0,0,NaN
4,17522,2153,223294185,IFF:HSN:1034,Rotterdam Centraal,1034,Intercity direct,1,NaN,1295593.0,0,NaN

In [5]:
# Load the routes data
df_routes = pd.read_csv(file_routes)

# Print the head of the dataframe
df_routes.head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color,route_url
0,104288,ALLGO,322,Lijn 322 Parkwijk - Amstel,NaN,3,e00713,ffffff,NaN
1,104290,ALLGO,327,Lijn 327 Haven - Amstel,NaN,3,e00713,ffffff,NaN
2,104291,ALLGO,330,Lijn 330 Almere Buiten - A'dam Bijlmer Arena,NaN,3,e00713,ffffff,NaN
3,104292,ALLGO,N22,Lijn N22 Leidseplein - Poort - Almere Buiten,NaN,3,f59c00,000000,NaN
4,104293,ALLGO,N23,Lijn N23 A'dam CS - Filmwijk - Almere Centrum,NaN,3,e00713,ffffff,NaN

In [6]:
# Load the stop_times data
df_stop_times = pd.read_csv(file_stop_times)

# Print the head of the dataframe
df_stop_times.head()

C:\Users\emiel\AppData\Local\Temp\ipykernel_24732\354614829.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_stop_times = pd.read_csv(file_stop_times)

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,fare_units_traveled
0,176957772,1,2862831,NaN,17:18:00,17:18:00,0,1,1,1.0,0
1,176957772,2,2862836,NaN,17:21:00,17:21:00,0,0,1,2695.0,0
2,176957772,3,2861628,NaN,17:29:00,17:30:00,0,0,1,11879.0,0
3,176957772,4,2861181,NaN,17:35:00,17:35:00,0,0,1,19619.0,0
4,176957772,5,2861973,NaN,17:41:00,17:42:00,0,0,1,28177.0,0

In [7]:
# Merge df_trips with df_stop_times on trip_id
df_combined = pd.merge(df_stop_times, df_trips, on='trip_id', how='inner')

# Print the head of the combined dataframe
df_combined.head()

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,service_id,realtime_trip_id,trip_headsign,trip_short_name,trip_long_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,176957772,1,2862831,NaN,17:18:00,17:18:00,0,1,1,1.0,...,350,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0
1,176957772,2,2862836,NaN,17:21:00,17:21:00,0,0,1,2695.0,...,350,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0
2,176957772,3,2861628,NaN,17:29:00,17:30:00,0,0,1,11879.0,...,350,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0
3,176957772,4,2861181,NaN,17:35:00,17:35:00,0,0,1,19619.0,...,350,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0
4,176957772,5,2861973,NaN,17:41:00,17:42:00,0,0,1,28177.0,...,350,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0

In [8]:
df_combined['combined_column'] = df_combined.apply(lambda row: f"{row['stop_sequence']}_{row['trip_headsign']}_{row['trip_short_name']}", axis=1)

# Print the head of the dataframe to verify the new column
df_combined.head()

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,realtime_trip_id,trip_headsign,trip_short_name,trip_long_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed,combined_column
0,176957772,1,2862831,NaN,17:18:00,17:18:00,0,1,1,1.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,1_Leiden Centraal_6760
1,176957772,2,2862836,NaN,17:21:00,17:21:00,0,0,1,2695.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,2_Leiden Centraal_6760
2,176957772,3,2861628,NaN,17:29:00,17:30:00,0,0,1,11879.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,3_Leiden Centraal_6760
3,176957772,4,2861181,NaN,17:35:00,17:35:00,0,0,1,19619.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,4_Leiden Centraal_6760
4,176957772,5,2861973,NaN,17:41:00,17:42:00,0,0,1,28177.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,5_Leiden Centraal_6760

In [9]:
# Convert arrival_time and departure_time to datetime, invalid parsing will be set as NaT
df_combined['arrival_time'] = pd.to_datetime(df_combined['arrival_time'], format='%H:%M:%S', errors='coerce')
df_combined['departure_time'] = pd.to_datetime(df_combined['departure_time'], format='%H:%M:%S', errors='coerce')

# Identify rows with invalid arrival or departure times
invalid_times = df_combined[df_combined['arrival_time'].isna() | df_combined['departure_time'].isna()]

# Get the trip_ids of the invalid rows
invalid_trip_ids = invalid_times['trip_id'].unique()

# Filter out the rows with invalid trip_ids
df_combined_cleaned = df_combined[~df_combined['trip_id'].isin(invalid_trip_ids)]

# Print the cleaned dataframe
df_combined_cleaned.head()

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,realtime_trip_id,trip_headsign,trip_short_name,trip_long_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed,combined_column
0,176957772,1,2862831,NaN,1900-01-01 17:18:00,1900-01-01 17:18:00,0,1,1,1.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,1_Leiden Centraal_6760
1,176957772,2,2862836,NaN,1900-01-01 17:21:00,1900-01-01 17:21:00,0,0,1,2695.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,2_Leiden Centraal_6760
2,176957772,3,2861628,NaN,1900-01-01 17:29:00,1900-01-01 17:30:00,0,0,1,11879.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,3_Leiden Centraal_6760
3,176957772,4,2861181,NaN,1900-01-01 17:35:00,1900-01-01 17:35:00,0,0,1,19619.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,4_Leiden Centraal_6760
4,176957772,5,2861973,NaN,1900-01-01 17:41:00,1900-01-01 17:42:00,0,0,1,28177.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,5_Leiden Centraal_6760

In [10]:

# Count the number of rows with NaN values in arrival_time or departure_time
nan_rows_count = df_combined['arrival_time'].isna().sum() + df_combined['departure_time'].isna().sum()

# Print the count of NaN rows
print(f"Number of rows with NaN values: {nan_rows_count}")

Number of rows with NaN values: 778839

In [11]:
# Filter out the rows with invalid trip_ids
df_combined_cleaned = df_combined[~df_combined['trip_id'].isin(invalid_trip_ids)]

# Print the cleaned dataframe
df_combined_cleaned.head()

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,realtime_trip_id,trip_headsign,trip_short_name,trip_long_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed,combined_column
0,176957772,1,2862831,NaN,1900-01-01 17:18:00,1900-01-01 17:18:00,0,1,1,1.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,1_Leiden Centraal_6760
1,176957772,2,2862836,NaN,1900-01-01 17:21:00,1900-01-01 17:21:00,0,0,1,2695.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,2_Leiden Centraal_6760
2,176957772,3,2861628,NaN,1900-01-01 17:29:00,1900-01-01 17:30:00,0,0,1,11879.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,3_Leiden Centraal_6760
3,176957772,4,2861181,NaN,1900-01-01 17:35:00,1900-01-01 17:35:00,0,0,1,19619.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,4_Leiden Centraal_6760
4,176957772,5,2861973,NaN,1900-01-01 17:41:00,1900-01-01 17:42:00,0,0,1,28177.0,...,IFF:SPR:6760,Leiden Centraal,6760,Sprinter,1,461459.0,1298623.0,0,1.0,5_Leiden Centraal_6760

In [12]:
# Find duplicates in the combined_column
duplicates = df_combined_cleaned[df_combined_cleaned.duplicated(subset='combined_column')]

# Print total number of rows in the dataframe
print(f"Total number of rows: {df_combined_cleaned.shape[0]}")

# Print the number of duplicates found
print(f"Number of duplicates found: {duplicates.shape[0]}")

Total number of rows: 15647782
Number of duplicates found: 9711617

In [13]:
# drop duplicates
df_trips_stop_sequence = df_combined_cleaned.drop_duplicates(subset='combined_column')

# print total number of rows in the dataframe
print(f"Total number of rows: {df_trips_stop_sequence.shape[0]}")

Total number of rows: 5936165

In [14]:
# Print the  columns of the dataframe
df_trips_stop_sequence.columns

Index(['trip_id', 'stop_sequence', 'stop_id', 'stop_headsign', 'arrival_time',
       'departure_time', 'pickup_type', 'drop_off_type', 'timepoint',
       'shape_dist_traveled', 'fare_units_traveled', 'route_id', 'service_id',
       'realtime_trip_id', 'trip_headsign', 'trip_short_name',
       'trip_long_name', 'direction_id', 'block_id', 'shape_id',
       'wheelchair_accessible', 'bikes_allowed', 'combined_column'],
      dtype='object')

In [15]:
# Load the stops data
df_stops = pd.read_csv(file_stops)

# setting stop_id as object
df_trips_stop_sequence['stop_id'] = df_trips_stop_sequence['stop_id'].astype(str)

# Merge stop names into the combined dataframe on stop_id
df_trips_stop_sequence = pd.merge(df_trips_stop_sequence, df_stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']], on='stop_id', how='left')

# Print the head of the dataframe to verify the new column
df_trips_stop_sequence.head()

C:\Users\emiel\AppData\Local\Temp\ipykernel_24732\2063033628.py:2: DtypeWarning: Columns (6,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_stops = pd.read_csv(file_stops)
C:\Users\emiel\AppData\Local\Temp\ipykernel_24732\2063033628.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trips_stop_sequence['stop_id'] = df_trips_stop_sequence['stop_id'].astype(str)

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,trip_long_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed,combined_column,stop_name,stop_lat,stop_lon
0,176957772,1,2862831,NaN,1900-01-01 17:18:00,1900-01-01 17:18:00,0,1,1,1.0,...,Sprinter,1,461459.0,1298623.0,0,1.0,1_Leiden Centraal_6760,Tiel,51.889746,5.422905
1,176957772,2,2862836,NaN,1900-01-01 17:21:00,1900-01-01 17:21:00,0,0,1,2695.0,...,Sprinter,1,461459.0,1298623.0,0,1.0,2_Leiden Centraal_6760,Tiel Passewaaij,51.873984,5.392265
2,176957772,3,2861628,NaN,1900-01-01 17:29:00,1900-01-01 17:30:00,0,0,1,11879.0,...,Sprinter,1,461459.0,1298623.0,0,1.0,3_Leiden Centraal_6760,Geldermalsen,51.883060,5.271610
3,176957772,4,2861181,NaN,1900-01-01 17:35:00,1900-01-01 17:35:00,0,0,1,19619.0,...,Sprinter,1,461459.0,1298623.0,0,1.0,4_Leiden Centraal_6760,Culemborg,51.946588,5.227101
4,176957772,5,2861973,NaN,1900-01-01 17:41:00,1900-01-01 17:42:00,0,0,1,28177.0,...,Sprinter,1,461459.0,1298623.0,0,1.0,5_Leiden Centraal_6760,Houten Castellum,52.017221,5.179300

In [16]:
# Sort the dataframe by trip_id and stop_sequence
df_trips_stop_sequence = df_trips_stop_sequence.sort_values(by=['trip_id', 'stop_sequence'])

# Calculate the duration between stops
df_trips_stop_sequence['next_arrival_time'] = df_trips_stop_sequence.groupby('trip_id')['arrival_time'].shift(-1)
df_trips_stop_sequence['duration_to_next_stop'] = df_trips_stop_sequence['next_arrival_time'] - df_trips_stop_sequence['departure_time']

# Print the head of the dataframe to verify the new column
df_trips_stop_sequence.head(30)

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,block_id,shape_id,wheelchair_accessible,bikes_allowed,combined_column,stop_name,stop_lat,stop_lon,next_arrival_time,duration_to_next_stop
0,176957772,1,2862831,NaN,1900-01-01 17:18:00,1900-01-01 17:18:00,0,1,1,1.0,...,461459.0,1298623.0,0,1.0,1_Leiden Centraal_6760,Tiel,51.889746,5.422905,1900-01-01 17:21:00,0 days 00:03:00
1,176957772,2,2862836,NaN,1900-01-01 17:21:00,1900-01-01 17:21:00,0,0,1,2695.0,...,461459.0,1298623.0,0,1.0,2_Leiden Centraal_6760,Tiel Passewaaij,51.873984,5.392265,1900-01-01 17:29:00,0 days 00:08:00
2,176957772,3,2861628,NaN,1900-01-01 17:29:00,1900-01-01 17:30:00,0,0,1,11879.0,...,461459.0,1298623.0,0,1.0,3_Leiden Centraal_6760,Geldermalsen,51.883060,5.271610,1900-01-01 17:35:00,0 days 00:05:00
3,176957772,4,2861181,NaN,1900-01-01 17:35:00,1900-01-01 17:35:00,0,0,1,19619.0,...,461459.0,1298623.0,0,1.0,4_Leiden Centraal_6760,Culemborg,51.946588,5.227101,1900-01-01 17:41:00,0 days 00:06:00
4,176957772,5,2861973,NaN,1900-01-01 17:41:00,1900-01-01 17:42:00,0,0,1,28177.0,...,461459.0,1298623.0,0,1.0,5_Leiden Centraal_6760,Houten Castellum,52.017221,5.179300,1900-01-01 17:45:00,0 days 00:03:00
5,176957772,6,2861969,NaN,1900-01-01 17:45:00,1900-01-01 17:45:00,0,0,1,30223.0,...,461459.0,1298623.0,0,1.0,6_Leiden Centraal_6760,Houten,52.034006,5.168180,1900-01-01 17:49:00,0 days 00:04:00
6,176957772,7,2862909,NaN,1900-01-01 17:49:00,1900-01-01 17:49:00,0,0,1,34108.0,...,461459.0,1298623.0,0,1.0,7_Leiden Centraal_6760,Utrecht Lunetten,52.067420,5.142373,1900-01-01 17:51:00,0 days 00:02:00
7,176957772,8,2862932,NaN,1900-01-01 17:51:00,1900-01-01 17:51:00,0,0,1,36311.0,...,461459.0,1298623.0,0,1.0,8_Leiden Centraal_6760,Utrecht Vaartsche Rijn,52.078169,5.122989,1900-01-01 17:54:00,0 days 00:03:00
8,176957772,9,2862880,NaN,1900-01-01 17:54:00,1900-01-01 17:54:00,1,0,1,37678.0,...,461459.0,1298623.0,0,1.0,9_Leiden Centraal_6760,Utrecht Centraal,52.089602,5.108788,NaT,NaT
9,176957773,1,2862880,NaN,1900-01-01 17:56:00,1900-01-01 17:56:00,0,1,1,47970.0,...,461459.0,1298642.0,0,1.0,1_Leiden Centraal_8860,Utrecht Centraal,52.089602,5.108788,1900-01-01 18:06:00,0 days 00:10:00
10,176957773,5,2863061,NaN,1900-01-01 18:06:00,1900-01-01 18:07:00,0,0,1,63861.0,...,461459.0,1298642.0,0,1.0,5_Leiden Centraal_8860,Woerden,52.085085,4.892961,1900-01-01 18:15:00,0 days 00:08:00
11,176957773,6,2860982,NaN,1900-01-01 18:15:00,1900-01-01 18:16:00,0,0,1,74779.0,...,461459.0,1298642.0,0,1.0,6_Leiden Centraal_8860,Bodegraven,52.081613,4.745836,1900-01-01 18:23:00,0 days 00:07:00
12,176957773,7,2860827,NaN,1900-01-01 18:23:00,1900-01-01 18:24:00,0,0,1,82874.0,...,461459.0,1298642.0,0,1.0,7_Leiden Centraal_8860,Alphen a/d Rijn,52.124628,4.657335,1900-01-01 18:32:00,0 days 00:08:00
13,176957773,8,2862142,NaN,1900-01-01 18:32:00,1900-01-01 18:32:00,0,0,1,95132.0,...,461459.0,1298642.0,0,1.0,8_Leiden Centraal_8860,Leiden Lammenschans,52.146736,4.492923,1900-01-01 18:37:00,0 days 00:05:00
14,176957773,9,2862149,NaN,1900-01-01 18:37:00,1900-01-01 18:37:00,1,0,1,97848.0,...,461459.0,1298642.0,0,1.0,9_Leiden Centraal_8860,Leiden Centraal,52.165773,4.482112,NaT,NaT
15,176957814,1,2861958,NaN,1900-01-01 18:29:00,1900-01-01 18:29:00,0,1,1,1.0,...,466742.0,1298613.0,0,1.0,1_Den Haag Centraal_6066,Hertogenbosch ('s),51.691462,5.293995,1900-01-01 18:37:00,0 days 00:08:00
16,176957814,2,2863167,NaN,1900-01-01 18:37:00,1900-01-01 18:37:00,0,0,1,13648.0,...,466742.0,1298613.0,0,1.0,2_Den Haag Centraal_6066,Zaltbommel,51.808121,5.263385,1900-01-01 18:44:00,0 days 00:07:00
17,176957814,3,2861628,NaN,1900-01-01 18:44:00,1900-01-01 18:44:00,0,0,1,22171.0,...,466742.0,1298613.0,0,1.0,3_Den Haag Centraal_6066,Geldermalsen,51.883060,5.271610,1900-01-01 18:50:00,0 days 00:06:00
18,176957814,4,2861181,NaN,1900-01-01 18:50:00,1900-01-01 18:50:00,0,0,1,29911.0,...,466742.0,1298613.0,0,1.0,4_Den Haag Centraal_6066,Culemborg,51.946588,5.227101,1900-01-01 18:56:00,0 days 00:06:00
19,176957814,5,2861973,NaN,1900-01-01 18:56:00,1900-01-01 18:57:00,0,0,1,38469.0,...,466742.0,1298613.0,0,1.0,5_Den Haag Centraal_6066,Houten Castellum,52.017221,5.179300,1900-01-01 18:59:00,0 days 00:02:00
20,176957814,6,2861969,NaN,1900-01-01 18:59:00,1900-01-01 18:59:00,0,0,1,40515.0,...,466742.0,1298613.0,0,1.0,6_Den Haag Centraal_6066,Houten,52.034006,5.168180,1900-01-01 19:03:00,0 days 00:04:00
21,176957814,7,2862909,NaN,1900-01-01 19:03:00,1900-01-01 19:03:00,0,0,1,44400.0,...,466742.0,1298613.0,0,1.0,7_Den Haag Centraal_6066,Utrecht Lunetten,52.067420,5.142373,1900-01-01 19:06:00,0 days 00:03:00
22,176957814,8,2862932,NaN,1900-01-01 19:06:00,1900-01-01 19:06:00,0,0,1,46603.0,...,466742.0,1298613.0,0,1.0,8_Den Haag Centraal_6066,Utrecht Vaartsche Rijn,52.078169,5.122989,1900-01-01 19:09:00,0 days 00:03:00
23,176957814,9,2862880,NaN,1900-01-01 19:09:00,1900-01-01 19:09:00,1,0,1,47970.0,...,466742.0,1298613.0,0,1.0,9_Den Haag Centraal_6066,Utrecht Centraal,52.089602,5.108788,NaT,NaT
24,176957866,1,2862831,NaN,1900-01-01 19:18:00,1900-01-01 19:18:00,0,1,1,1.0,...,469578.0,1298623.0,0,1.0,1_Leiden Centraal_6768,Tiel,51.889746,5.422905,1900-01-01 19:21:00,0 days 00:03:00
25,176957866,2,2862836,NaN,1900-01-01 19:21:00,1900-01-01 19:21:00,0,0,1,2695.0,...,469578.0,1298623.0,0,1.0,2_Leiden Centraal_6768,Tiel Passewaaij,51.873984,5.392265,1900-01-01 19:29:00,0 days 00:08:00
26,176957866,3,2861628,NaN,1900-01-01 19:29:00,1900-01-01 19:30:00,0,0,1,11879.0,...,469578.0,1298623.0,0,1.0,3_Leiden Centraal_6768,Geldermalsen,51.883060,5.271610,1900-01-01 19:35:00,0 days 00:05:00
27,176957866,4,2861181,NaN,1900-01-01 19:35:00,1900-01-01 19:35:00,0,0,1,19619.0,...,469578.0,1298623.0,0,1.0,4_Leiden Centraal_6768,Culemborg,51.946588,5.227101,1900-01-01 19:41:00,0 days 00:06:00
28,176957866,5,2861973,NaN,1900-01-01 19:41:00,1900-01-01 19:42:00,0,0,1,28177.0,...,469578.0,1298623.0,0,1.0,5_Leiden Centraal_6768,Houten Castellum,52.017221,5.179300,1900-01-01 19:45:00,0 days 00:03:00
29,176957866,6,2861969,NaN,1900-01-01 19:45:00,1900-01-01 19:45:00,0,0,1,30223.0,...,469578.0,1298623.0,0,1.0,6_Leiden Centraal_6768,Houten,52.034006,5.168180,1900-01-01 19:49:00,0 days 00:04:00

In [17]:
# Add a column for the next stop name
df_trips_stop_sequence['stop_id2'] = df_trips_stop_sequence.groupby('trip_id')['stop_id'].shift(-1)
df_trips_stop_sequence['stop_name2'] = df_trips_stop_sequence.groupby('trip_id')['stop_name'].shift(-1)
# Print the head of the dataframe to verify the new column
df_trips_stop_sequence.head(30)

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,wheelchair_accessible,bikes_allowed,combined_column,stop_name,stop_lat,stop_lon,next_arrival_time,duration_to_next_stop,stop_id2,stop_name2
0,176957772,1,2862831,NaN,1900-01-01 17:18:00,1900-01-01 17:18:00,0,1,1,1.0,...,0,1.0,1_Leiden Centraal_6760,Tiel,51.889746,5.422905,1900-01-01 17:21:00,0 days 00:03:00,2862836,Tiel Passewaaij
1,176957772,2,2862836,NaN,1900-01-01 17:21:00,1900-01-01 17:21:00,0,0,1,2695.0,...,0,1.0,2_Leiden Centraal_6760,Tiel Passewaaij,51.873984,5.392265,1900-01-01 17:29:00,0 days 00:08:00,2861628,Geldermalsen
2,176957772,3,2861628,NaN,1900-01-01 17:29:00,1900-01-01 17:30:00,0,0,1,11879.0,...,0,1.0,3_Leiden Centraal_6760,Geldermalsen,51.883060,5.271610,1900-01-01 17:35:00,0 days 00:05:00,2861181,Culemborg
3,176957772,4,2861181,NaN,1900-01-01 17:35:00,1900-01-01 17:35:00,0,0,1,19619.0,...,0,1.0,4_Leiden Centraal_6760,Culemborg,51.946588,5.227101,1900-01-01 17:41:00,0 days 00:06:00,2861973,Houten Castellum
4,176957772,5,2861973,NaN,1900-01-01 17:41:00,1900-01-01 17:42:00,0,0,1,28177.0,...,0,1.0,5_Leiden Centraal_6760,Houten Castellum,52.017221,5.179300,1900-01-01 17:45:00,0 days 00:03:00,2861969,Houten
5,176957772,6,2861969,NaN,1900-01-01 17:45:00,1900-01-01 17:45:00,0,0,1,30223.0,...,0,1.0,6_Leiden Centraal_6760,Houten,52.034006,5.168180,1900-01-01 17:49:00,0 days 00:04:00,2862909,Utrecht Lunetten
6,176957772,7,2862909,NaN,1900-01-01 17:49:00,1900-01-01 17:49:00,0,0,1,34108.0,...,0,1.0,7_Leiden Centraal_6760,Utrecht Lunetten,52.067420,5.142373,1900-01-01 17:51:00,0 days 00:02:00,2862932,Utrecht Vaartsche Rijn
7,176957772,8,2862932,NaN,1900-01-01 17:51:00,1900-01-01 17:51:00,0,0,1,36311.0,...,0,1.0,8_Leiden Centraal_6760,Utrecht Vaartsche Rijn,52.078169,5.122989,1900-01-01 17:54:00,0 days 00:03:00,2862880,Utrecht Centraal
8,176957772,9,2862880,NaN,1900-01-01 17:54:00,1900-01-01 17:54:00,1,0,1,37678.0,...,0,1.0,9_Leiden Centraal_6760,Utrecht Centraal,52.089602,5.108788,NaT,NaT,NaN,NaN
9,176957773,1,2862880,NaN,1900-01-01 17:56:00,1900-01-01 17:56:00,0,1,1,47970.0,...,0,1.0,1_Leiden Centraal_8860,Utrecht Centraal,52.089602,5.108788,1900-01-01 18:06:00,0 days 00:10:00,2863061,Woerden
10,176957773,5,2863061,NaN,1900-01-01 18:06:00,1900-01-01 18:07:00,0,0,1,63861.0,...,0,1.0,5_Leiden Centraal_8860,Woerden,52.085085,4.892961,1900-01-01 18:15:00,0 days 00:08:00,2860982,Bodegraven
11,176957773,6,2860982,NaN,1900-01-01 18:15:00,1900-01-01 18:16:00,0,0,1,74779.0,...,0,1.0,6_Leiden Centraal_8860,Bodegraven,52.081613,4.745836,1900-01-01 18:23:00,0 days 00:07:00,2860827,Alphen a/d Rijn
12,176957773,7,2860827,NaN,1900-01-01 18:23:00,1900-01-01 18:24:00,0,0,1,82874.0,...,0,1.0,7_Leiden Centraal_8860,Alphen a/d Rijn,52.124628,4.657335,1900-01-01 18:32:00,0 days 00:08:00,2862142,Leiden Lammenschans
13,176957773,8,2862142,NaN,1900-01-01 18:32:00,1900-01-01 18:32:00,0,0,1,95132.0,...,0,1.0,8_Leiden Centraal_8860,Leiden Lammenschans,52.146736,4.492923,1900-01-01 18:37:00,0 days 00:05:00,2862149,Leiden Centraal
14,176957773,9,2862149,NaN,1900-01-01 18:37:00,1900-01-01 18:37:00,1,0,1,97848.0,...,0,1.0,9_Leiden Centraal_8860,Leiden Centraal,52.165773,4.482112,NaT,NaT,NaN,NaN
15,176957814,1,2861958,NaN,1900-01-01 18:29:00,1900-01-01 18:29:00,0,1,1,1.0,...,0,1.0,1_Den Haag Centraal_6066,Hertogenbosch ('s),51.691462,5.293995,1900-01-01 18:37:00,0 days 00:08:00,2863167,Zaltbommel
16,176957814,2,2863167,NaN,1900-01-01 18:37:00,1900-01-01 18:37:00,0,0,1,13648.0,...,0,1.0,2_Den Haag Centraal_6066,Zaltbommel,51.808121,5.263385,1900-01-01 18:44:00,0 days 00:07:00,2861628,Geldermalsen
17,176957814,3,2861628,NaN,1900-01-01 18:44:00,1900-01-01 18:44:00,0,0,1,22171.0,...,0,1.0,3_Den Haag Centraal_6066,Geldermalsen,51.883060,5.271610,1900-01-01 18:50:00,0 days 00:06:00,2861181,Culemborg
18,176957814,4,2861181,NaN,1900-01-01 18:50:00,1900-01-01 18:50:00,0,0,1,29911.0,...,0,1.0,4_Den Haag Centraal_6066,Culemborg,51.946588,5.227101,1900-01-01 18:56:00,0 days 00:06:00,2861973,Houten Castellum
19,176957814,5,2861973,NaN,1900-01-01 18:56:00,1900-01-01 18:57:00,0,0,1,38469.0,...,0,1.0,5_Den Haag Centraal_6066,Houten Castellum,52.017221,5.179300,1900-01-01 18:59:00,0 days 00:02:00,2861969,Houten
20,176957814,6,2861969,NaN,1900-01-01 18:59:00,1900-01-01 18:59:00,0,0,1,40515.0,...,0,1.0,6_Den Haag Centraal_6066,Houten,52.034006,5.168180,1900-01-01 19:03:00,0 days 00:04:00,2862909,Utrecht Lunetten
21,176957814,7,2862909,NaN,1900-01-01 19:03:00,1900-01-01 19:03:00,0,0,1,44400.0,...,0,1.0,7_Den Haag Centraal_6066,Utrecht Lunetten,52.067420,5.142373,1900-01-01 19:06:00,0 days 00:03:00,2862932,Utrecht Vaartsche Rijn
22,176957814,8,2862932,NaN,1900-01-01 19:06:00,1900-01-01 19:06:00,0,0,1,46603.0,...,0,1.0,8_Den Haag Centraal_6066,Utrecht Vaartsche Rijn,52.078169,5.122989,1900-01-01 19:09:00,0 days 00:03:00,2862880,Utrecht Centraal
23,176957814,9,2862880,NaN,1900-01-01 19:09:00,1900-01-01 19:09:00,1,0,1,47970.0,...,0,1.0,9_Den Haag Centraal_6066,Utrecht Centraal,52.089602,5.108788,NaT,NaT,NaN,NaN
24,176957866,1,2862831,NaN,1900-01-01 19:18:00,1900-01-01 19:18:00,0,1,1,1.0,...,0,1.0,1_Leiden Centraal_6768,Tiel,51.889746,5.422905,1900-01-01 19:21:00,0 days 00:03:00,2862836,Tiel Passewaaij
25,176957866,2,2862836,NaN,1900-01-01 19:21:00,1900-01-01 19:21:00,0,0,1,2695.0,...,0,1.0,2_Leiden Centraal_6768,Tiel Passewaaij,51.873984,5.392265,1900-01-01 19:29:00,0 days 00:08:00,2861628,Geldermalsen
26,176957866,3,2861628,NaN,1900-01-01 19:29:00,1900-01-01 19:30:00,0,0,1,11879.0,...,0,1.0,3_Leiden Centraal_6768,Geldermalsen,51.883060,5.271610,1900-01-01 19:35:00,0 days 00:05:00,2861181,Culemborg
27,176957866,4,2861181,NaN,1900-01-01 19:35:00,1900-01-01 19:35:00,0,0,1,19619.0,...,0,1.0,4_Leiden Centraal_6768,Culemborg,51.946588,5.227101,1900-01-01 19:41:00,0 days 00:06:00,2861973,Houten Castellum
28,176957866,5,2861973,NaN,1900-01-01 19:41:00,1900-01-01 19:42:00,0,0,1,28177.0,...,0,1.0,5_Leiden Centraal_6768,Houten Castellum,52.017221,5.179300,1900-01-01 19:45:00,0 days 00:03:00,2861969,Houten
29,176957866,6,2861969,NaN,1900-01-01 19:45:00,1900-01-01 19:45:00,0,0,1,30223.0,...,0,1.0,6_Leiden Centraal_6768,Houten,52.034006,5.168180,1900-01-01 19:49:00,0 days 00:04:00,2862909,Utrecht Lunetten

In [19]:
# Drop duplicates on stop_id1 to stop_id2 and take the fastest one
df_trips_stop_sequence = df_trips_stop_sequence.sort_values(by='duration_to_next_stop').drop_duplicates(subset=['stop_id', 'stop_id2'], keep='first')

# Print the head of the dataframe to verify the changes
df_trips_stop_sequence.head(30)

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,...,wheelchair_accessible,bikes_allowed,combined_column,stop_name,stop_lat,stop_lon,next_arrival_time,duration_to_next_stop,stop_id2,stop_name2
2214035,260894915,38,2751296,NaN,1900-01-01 19:04:00,1900-01-01 19:04:00,0,0,0,29067.0,...,0,NaN,38_Luyksgestel_4082,"Luyksgestel, Molenstraat",51.286755,5.320230,1900-01-01 19:04:00,0 days,2751298,"Luyksgestel, Kapelstraat"
1474849,259993002,11,2867701,NaN,1900-01-01 18:36:00,1900-01-01 18:36:00,0,0,0,5782.0,...,0,NaN,11_Oostendam_7041,"Zwijndrecht, Burg. Jansenlaan",51.822726,4.637301,1900-01-01 18:36:00,0 days,2867706,"Zwijndrecht, Dr. Plesmanstraat"
3573271,262666411,29,2889640,NaN,1900-01-01 17:37:00,1900-01-01 17:37:00,0,0,0,NaN,...,0,NaN,29_Turnhout Warande perron 1_143454,"Merksplas, Dorp",51.357419,4.863855,1900-01-01 17:37:00,0 days,2889638,"Merksplas, Bareeltje"
3573269,262666411,27,2889644,NaN,1900-01-01 17:36:00,1900-01-01 17:36:00,0,0,0,NaN,...,0,NaN,27_Turnhout Warande perron 1_143454,"Merksplas, Molenweg",51.359279,4.851672,1900-01-01 17:36:00,0 days,2889642,"Merksplas, J. Mertensstraat"
1474855,259993002,18,2867634,NaN,1900-01-01 18:43:00,1900-01-01 18:43:00,0,0,0,9238.0,...,0,NaN,18_Oostendam_7041,"H.I.Ambacht, Cascade",51.844734,4.638264,1900-01-01 18:43:00,0 days,2867637,"H.I.Ambacht, P.C. Hooftsingel"
3573264,262666411,22,2889654,NaN,1900-01-01 17:32:00,1900-01-01 17:32:00,0,0,0,NaN,...,0,NaN,22_Turnhout Warande perron 1_143454,"Merksplas, Dammekensstraat",51.350404,4.817138,1900-01-01 17:32:00,0 days,2889652,"Merksplas, Kweekstraat"
3573253,262666411,11,2889236,NaN,1900-01-01 17:19:00,1900-01-01 17:19:00,0,0,0,NaN,...,0,NaN,11_Turnhout Warande perron 1_143454,"Sint-Lenaarts, Eester",51.349513,4.700218,1900-01-01 17:19:00,0 days,2889238,"Sint-Lenaarts, Groenstraat"
3573281,262666411,39,2890237,NaN,1900-01-01 17:47:00,1900-01-01 17:47:00,0,0,0,NaN,...,0,NaN,39_Turnhout Warande perron 1_143454,"Turnhout, Fonteinstraat",51.327307,4.928017,1900-01-01 17:47:00,0 days,2889688,"Turnhout, Nieuwe Kaai"
3573221,262666410,23,2889652,NaN,1900-01-01 20:30:00,1900-01-01 20:30:00,0,0,0,NaN,...,0,NaN,23_Turnhout Warande perron 1_78176,"Merksplas, Kweekstraat",51.351584,4.824962,1900-01-01 20:30:00,0 days,2889650,"Merksplas, Kolonie"
3573247,262666411,5,2889224,NaN,1900-01-01 17:14:00,1900-01-01 17:14:00,0,0,0,NaN,...,0,NaN,5_Turnhout Warande perron 1_143454,"Brecht, Broekhovenstraat",51.352078,4.653438,1900-01-01 17:14:00,0 days,2889226,"Sint-Lenaarts, Leemstraat"
3573386,262666414,12,2889238,NaN,1900-01-01 08:19:00,1900-01-01 08:19:00,0,0,0,NaN,...,0,NaN,12_Turnhout Warande perron 1_354249,"Sint-Lenaarts, Groenstraat",51.347485,4.708516,1900-01-01 08:19:00,0 days,2890515,"Sint-Lenaarts, Leeuwerk"
3573382,262666414,8,2889230,NaN,1900-01-01 08:16:00,1900-01-01 08:16:00,0,0,0,NaN,...,0,NaN,8_Turnhout Warande perron 1_354249,"Sint-Lenaarts, J. Cardijnlaan",51.349435,4.675227,1900-01-01 08:16:00,0 days,2889232,"Sint-Lenaarts, Kerk"
1475022,259993029,3,2867765,NaN,1900-01-01 06:58:00,1900-01-01 06:58:00,0,0,0,1087.0,...,0,NaN,3_Rotterdam Zuidplein_1005,"Dordrecht, Stadskantoor (Perron A)",51.812301,4.660261,1900-01-01 06:58:00,0 days,2867767,"Dordrecht, Maasplaza"
3573088,262666407,63,2890014,NaN,1900-01-01 09:23:00,1900-01-01 09:23:00,0,0,0,NaN,...,0,NaN,63_Arendonk Gemeentehuis_579741,"Arendonk, Leeuwerfstraat",51.314260,5.056448,1900-01-01 09:23:00,0 days,2890016,"Arendonk, Hoge Pedestraat"
3573082,262666407,57,2890074,NaN,1900-01-01 09:19:00,1900-01-01 09:19:00,0,0,0,NaN,...,0,NaN,57_Arendonk Gemeentehuis_579741,"Oud-Turnhout, Lentedreef",51.304545,5.015405,1900-01-01 09:19:00,0 days,2890482,"Oud-Turnhout, Oude Retiese baan"
3573074,262666407,49,2889991,NaN,1900-01-01 09:12:00,1900-01-01 09:12:00,0,0,0,NaN,...,0,NaN,49_Arendonk Gemeentehuis_579741,"Turnhout, Zandbergstraat",51.321319,4.965719,1900-01-01 09:12:00,0 days,2889992,"Oud-Turnhout, Blekerijstraat"
3573016,262666406,60,2890008,NaN,1900-01-01 15:17:00,1900-01-01 15:17:00,0,0,0,NaN,...,0,NaN,60_Arendonk Gemeentehuis_556240,"Oud-Turnhout, Spreeuwendreef",51.311943,5.032742,1900-01-01 15:17:00,0 days,2890010,"Arendonk, Delstraat"
3573142,262666408,48,2889990,NaN,1900-01-01 22:57:00,1900-01-01 22:57:00,0,0,0,NaN,...,0,NaN,48_Reusel Grens_703874,"Turnhout, Oranjemolenstraat",51.321349,4.961372,1900-01-01 22:57:00,0 days,2889991,"Turnhout, Zandbergstraat"
3573144,262666408,50,2889992,NaN,1900-01-01 22:58:00,1900-01-01 22:58:00,0,0,0,NaN,...,0,NaN,50_Reusel Grens_703874,"Oud-Turnhout, Blekerijstraat",51.320798,4.970544,1900-01-01 22:58:00,0 days,2889994,"Oud-Turnhout, Tramwissel"
1474928,259993015,5,2867832,NaN,1900-01-01 22:29:00,1900-01-01 22:29:00,0,0,0,1833.0,...,0,NaN,5_Oostendam_7049,"Dordrecht, P+R Weeskinderendijk",51.809247,4.651234,1900-01-01 22:29:00,0 days,2867823,"Dordrecht, Laan der Verenigde Naties"
3573167,262666408,73,2890033,NaN,1900-01-01 23:18:00,1900-01-01 23:18:00,0,0,0,NaN,...,0,NaN,73_Reusel Grens_703874,"Arendonk, Onder d'Eiken",51.342241,5.107869,1900-01-01 23:18:00,0 days,2890035,"Arendonk, Roeststraat"
3573147,262666408,53,2889998,NaN,1900-01-01 23:00:00,1900-01-01 23:00:00,0,0,0,NaN,...,0,NaN,53_Reusel Grens_703874,"Oud-Turnhout, Molenbergen",51.314952,4.987852,1900-01-01 23:00:00,0 days,2890000,"Oud-Turnhout, Driedostraat"
5579318,266902176,29,2908818,Station,1900-01-01 19:51:00,1900-01-01 19:51:00,0,0,0,29698.0,...,0,NaN,29_Gorinchem_8053,"Gorinchem, Krinkelwinkel",51.829399,4.961789,1900-01-01 19:51:00,0 days,2908816,"Gorinchem, Sluis"
5579336,266902177,16,2910278,Wijk en Aalburg,1900-01-01 19:40:00,1900-01-01 19:40:00,0,0,1,21988.0,...,0,NaN,16_Kromme Nol_8054,"Andel, Julianastraat",51.783280,5.053770,1900-01-01 19:40:00,0 days,2910282,"Andel, Neer-Andelseweg"
5579303,266902176,14,2910275,NaN,1900-01-01 19:20:00,1900-01-01 19:20:00,0,0,0,10777.0,...,0,NaN,14_Gorinchem_8053,"Andel, Koningin Emmastraat",51.785836,5.054809,1900-01-01 19:20:00,0 days,2910285,"Andel, Huiswerf"
5579291,266902176,2,2910171,NaN,1900-01-01 19:03:00,1900-01-01 19:03:00,0,0,0,1037.0,...,0,NaN,2_Gorinchem_8053,"Wijk en Aalburg, Polstraat",51.749973,5.122484,1900-01-01 19:03:00,0 days,2910177,"Wijk en Aalburg, Kortestraat"
5579301,266902176,12,2910281,NaN,1900-01-01 19:19:00,1900-01-01 19:19:00,0,0,0,10266.0,...,0,NaN,12_Gorinchem_8053,"Andel, Neer-Andelseweg",51.781562,5.053116,1900-01-01 19:19:00,0 days,2910283,"Andel, Julianastraat"
3572183,262666377,58,2890482,NaN,1900-01-01 16:19:00,1900-01-01 16:19:00,0,0,0,NaN,...,0,NaN,58_Arendonk Gemeentehuis_56280,"Oud-Turnhout, Oude Retiese baan",51.305539,5.019928,1900-01-01 16:19:00,0 days,2890485,"Oud-Turnhout, Engelstraat"
3571986,262666374,49,2890493,NaN,1900-01-01 13:06:00,1900-01-01 13:06:00,0,0,0,NaN,...,0,NaN,49_Arendonk Gemeentehuis_859524,"Turnhout, Parklaan",51.312361,4.942452,1900-01-01 13:06:00,0 days,2888814,"Turnhout, Zwembad Stadspark"
5579223,266902172,17,2912942,Fijnaart,1900-01-01 09:00:00,1900-01-01 09:00:00,0,0,0,27625.0,...,0,NaN,17_Fijnaart_8005,"Klundert, Zevenbergseweg",51.659848,4.535043,1900-01-01 09:00:00,0 days,2912944,"Klundert, Zevenbergse Poort"

In [21]:
# Print the number of rows in the dataframe
print(f"Number of rows in df_combined_cleaned: {df_trips_stop_sequence.shape[0]}")

Number of rows in df_combined_cleaned: 71514

In [22]:
# Select and reorder the columns as specified
df_final = df_trips_stop_sequence[['stop_id', 'stop_name', 'stop_id2', 'stop_name2', 'stop_sequence', 'duration_to_next_stop', 'trip_headsign', 'combined_column', 'stop_lat', 'stop_lon']]

# Rename columns to match the specified format
df_final.columns = ['stop_id1', 'stop_name1', 'stop_id2', 'stop_name2', 'stop_sequence', 'duration_to_next_stop', 'trip_headsign', 'combined_column','stop_lat', 'stop_lon']

# Print the head of the final dataframe to verify the changes
df_final.head(30)

,stop_id1,stop_name1,stop_id2,stop_name2,stop_sequence,duration_to_next_stop,trip_headsign,combined_column,stop_lat,stop_lon
2214035,2751296,"Luyksgestel, Molenstraat",2751298,"Luyksgestel, Kapelstraat",38,0 days,Luyksgestel,38_Luyksgestel_4082,51.286755,5.320230
1474849,2867701,"Zwijndrecht, Burg. Jansenlaan",2867706,"Zwijndrecht, Dr. Plesmanstraat",11,0 days,Oostendam,11_Oostendam_7041,51.822726,4.637301
3573271,2889640,"Merksplas, Dorp",2889638,"Merksplas, Bareeltje",29,0 days,Turnhout Warande perron 1,29_Turnhout Warande perron 1_143454,51.357419,4.863855
3573269,2889644,"Merksplas, Molenweg",2889642,"Merksplas, J. Mertensstraat",27,0 days,Turnhout Warande perron 1,27_Turnhout Warande perron 1_143454,51.359279,4.851672
1474855,2867634,"H.I.Ambacht, Cascade",2867637,"H.I.Ambacht, P.C. Hooftsingel",18,0 days,Oostendam,18_Oostendam_7041,51.844734,4.638264
3573264,2889654,"Merksplas, Dammekensstraat",2889652,"Merksplas, Kweekstraat",22,0 days,Turnhout Warande perron 1,22_Turnhout Warande perron 1_143454,51.350404,4.817138
3573253,2889236,"Sint-Lenaarts, Eester",2889238,"Sint-Lenaarts, Groenstraat",11,0 days,Turnhout Warande perron 1,11_Turnhout Warande perron 1_143454,51.349513,4.700218
3573281,2890237,"Turnhout, Fonteinstraat",2889688,"Turnhout, Nieuwe Kaai",39,0 days,Turnhout Warande perron 1,39_Turnhout Warande perron 1_143454,51.327307,4.928017
3573221,2889652,"Merksplas, Kweekstraat",2889650,"Merksplas, Kolonie",23,0 days,Turnhout Warande perron 1,23_Turnhout Warande perron 1_78176,51.351584,4.824962
3573247,2889224,"Brecht, Broekhovenstraat",2889226,"Sint-Lenaarts, Leemstraat",5,0 days,Turnhout Warande perron 1,5_Turnhout Warande perron 1_143454,51.352078,4.653438
3573386,2889238,"Sint-Lenaarts, Groenstraat",2890515,"Sint-Lenaarts, Leeuwerk",12,0 days,Turnhout Warande perron 1,12_Turnhout Warande perron 1_354249,51.347485,4.708516
3573382,2889230,"Sint-Lenaarts, J. Cardijnlaan",2889232,"Sint-Lenaarts, Kerk",8,0 days,Turnhout Warande perron 1,8_Turnhout Warande perron 1_354249,51.349435,4.675227
1475022,2867765,"Dordrecht, Stadskantoor (Perron A)",2867767,"Dordrecht, Maasplaza",3,0 days,Rotterdam Zuidplein,3_Rotterdam Zuidplein_1005,51.812301,4.660261
3573088,2890014,"Arendonk, Leeuwerfstraat",2890016,"Arendonk, Hoge Pedestraat",63,0 days,Arendonk Gemeentehuis,63_Arendonk Gemeentehuis_579741,51.314260,5.056448
3573082,2890074,"Oud-Turnhout, Lentedreef",2890482,"Oud-Turnhout, Oude Retiese baan",57,0 days,Arendonk Gemeentehuis,57_Arendonk Gemeentehuis_579741,51.304545,5.015405
3573074,2889991,"Turnhout, Zandbergstraat",2889992,"Oud-Turnhout, Blekerijstraat",49,0 days,Arendonk Gemeentehuis,49_Arendonk Gemeentehuis_579741,51.321319,4.965719
3573016,2890008,"Oud-Turnhout, Spreeuwendreef",2890010,"Arendonk, Delstraat",60,0 days,Arendonk Gemeentehuis,60_Arendonk Gemeentehuis_556240,51.311943,5.032742
3573142,2889990,"Turnhout, Oranjemolenstraat",2889991,"Turnhout, Zandbergstraat",48,0 days,Reusel Grens,48_Reusel Grens_703874,51.321349,4.961372
3573144,2889992,"Oud-Turnhout, Blekerijstraat",2889994,"Oud-Turnhout, Tramwissel",50,0 days,Reusel Grens,50_Reusel Grens_703874,51.320798,4.970544
1474928,2867832,"Dordrecht, P+R Weeskinderendijk",2867823,"Dordrecht, Laan der Verenigde Naties",5,0 days,Oostendam,5_Oostendam_7049,51.809247,4.651234
3573167,2890033,"Arendonk, Onder d'Eiken",2890035,"Arendonk, Roeststraat",73,0 days,Reusel Grens,73_Reusel Grens_703874,51.342241,5.107869
3573147,2889998,"Oud-Turnhout, Molenbergen",2890000,"Oud-Turnhout, Driedostraat",53,0 days,Reusel Grens,53_Reusel Grens_703874,51.314952,4.987852
5579318,2908818,"Gorinchem, Krinkelwinkel",2908816,"Gorinchem, Sluis",29,0 days,Gorinchem,29_Gorinchem_8053,51.829399,4.961789
5579336,2910278,"Andel, Julianastraat",2910282,"Andel, Neer-Andelseweg",16,0 days,Kromme Nol,16_Kromme Nol_8054,51.783280,5.053770
5579303,2910275,"Andel, Koningin Emmastraat",2910285,"Andel, Huiswerf",14,0 days,Gorinchem,14_Gorinchem_8053,51.785836,5.054809
5579291,2910171,"Wijk en Aalburg, Polstraat",2910177,"Wijk en Aalburg, Kortestraat",2,0 days,Gorinchem,2_Gorinchem_8053,51.749973,5.122484
5579301,2910281,"Andel, Neer-Andelseweg",2910283,"Andel, Julianastraat",12,0 days,Gorinchem,12_Gorinchem_8053,51.781562,5.053116
3572183,2890482,"Oud-Turnhout, Oude Retiese baan",2890485,"Oud-Turnhout, Engelstraat",58,0 days,Arendonk Gemeentehuis,58_Arendonk Gemeentehuis_56280,51.305539,5.019928
3571986,2890493,"Turnhout, Parklaan",2888814,"Turnhout, Zwembad Stadspark",49,0 days,Arendonk Gemeentehuis,49_Arendonk Gemeentehuis_859524,51.312361,4.942452
5579223,2912942,"Klundert, Zevenbergseweg",2912944,"Klundert, Zevenbergse Poort",17,0 days,Fijnaart,17_Fijnaart_8005,51.659848,4.535043

In [23]:
df_final.to_csv('traveltime.csv', index=False)